.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205vh;
  height: 100vh;
}

.email-verified-container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mail-verified-icon {
  width: 162px;
  height: 115px;
}
