.main-container {
  display: flex;
}

.forgot-pass-container {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
}

.logo-container {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin-left: 55px;
}

.form-reset-fields {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
