.body {
  font-family: "Poppins";
}

.main-container {
  display: flex;
}

.forgot-pass-container {
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
}

.logo-container {
  display: flex;
  width: 400px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.form-container {
  margin-top: 30px;
  margin-left: 55px;
}

.form-field {
  margin-top: 25px;
}
